<%= form_for(@bead_color) do |f| %>
  <% if @bead_color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bead_color.errors.count, "error") %> prohibited this bead_color from being saved:</h2>

      <ul>
      <% @bead_color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
