<p id="notice"><%= notice %></p>

<h1>Listing Bead Packs</h1>

<%= render partial: "shared/bead_packs", locals: {bead_packs: @bead_packs} %> 

<br>

<%= link_to 'New Bead pack', new_bead_pack_path, class:"btn btn-default" %>
